In [1]:
import pandas as pd
file_path = "../data/raw/2019-Nov-sample-10k.csv"
df = pd.read_csv(file_path)
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-23 12:11:06 UTC,view,1801690,2053013554415534427,electronics.video.tv,samsung,406.05,573554817,08a28fb0-ca22-498e-b4a7-cb72b624fa57
1,2019-11-13 04:59:07 UTC,view,26403265,2053013563651392361,NaN,NaN,326.13,514164869,45759925-e9a4-9980-387f-444c98c3ac1b
2,2019-11-30 09:58:12 UTC,cart,1004870,2053013555631882655,electronics.smartphone,samsung,284.95,536564829,d5660a56-ae30-4154-b50a-9fdac31049c6
3,2019-11-18 18:23:04 UTC,view,26400189,2053013563651392361,NaN,NaN,144.66,534821312,eec4b0b1-49d8-4500-a85e-1bddaa4594a6
4,2019-11-22 13:58:34 UTC,view,100014292,2053013555631882655,electronics.smartphone,nokia,231.38,557080193,cbb73efb-5983-4afe-a215-ae1c52b50c36